name: Update WinGet Packages

on:
  workflow_dispatch:
  schedule:
    - cron:  '3,13,23,33,43,53 * * * *'

jobs:
  update:
    name: Update package ${{ matrix.id }}
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        include:
          - id: "xanderfrangos.twinkletray"
            repo: "xanderfrangos/twinkle-tray"
            url: "https://github.com/xanderfrangos/twinkle-tray/releases/download/v{VERSION}/Twinkle.Tray.v{VERSION}.exe"
          - id: "chen08209.FlClash"
            repo: "chen08209/FlClash"
            url: "https://github.com/chen08209/FlClash/releases/download/v{VERSION}/FlClash-{VERSION}-windows-amd64-setup.exe"
          - id: "ClashVergeRev.ClashVergeRev"
            repo: "clash-verge-rev/clash-verge-rev"
            url: "https://github.com/clash-verge-rev/clash-verge-rev/releases/download/v{VERSION}/Clash.Verge_{VERSION}_x64-setup.exe"
          - id: "amir1376.ABDownloadManager"
            repo: "amir1376/ab-download-manager"
            url: "https://github.com/amir1376/ab-download-manager/releases/download/v{VERSION}/ABDownloadManager_{VERSION}_windows_x64.exe"
    steps:
    - name: Update Packages
      uses: michidk/winget-updater@latest
      with:
        komac-version: "2.6.0"
        komac-token: ${{ secrets.KOMAC_TOKEN }}
        identifier: ${{ matrix.id }}
        repo: ${{ matrix.repo }}
        url: ${{ matrix.url }}

  cleanup:
    name: Cleanup branches
    needs: update # Not necessarily needed as PRs don't get closed that quick but still nice to have it in order
    runs-on: ubuntu-24.04

    steps:
    - name: Run Komac
      uses: michidk/run-komac@latest
      with:
        komac-version: "2.6.0"
        args: 'cleanup --only-merged --token=${{ secrets.KOMAC_TOKEN }}'




